.hotelsManagment__list {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.admin-hotels__header{
  text-align: center;
}
.admin-hotels__add-button{
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  background-color: red;
  text-decoration: none;
  padding: 0.5em 1em;
  margin-top: 1em;
}
