.hotel-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  background-color: white;
}
.hotel-card__icons{
  z-index: 1;
}

.hotel-card__icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translate(-10px, 10px);
  filter: opacity(0.6) drop-shadow(0 0 0 hsl(277, 64%, 61%));
}

.hotel-card__icon:hover {
  filter: opacity(0.6) drop-shadow(0 0 0 red);
}

.hotel-card__img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.hotel-card__header {
  margin-top: 0;
  margin-left: 1em;
}

.hotel-card__city {
  margin-bottom: 0;
  margin-top: 0;
}

.hotel-card__name {
  font-weight:900;
  font-size: 15px;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.hotel-card__caption, .hotel-card__bottom {
  margin-left: 1em;
}

.hotel-card__description {
  margin-top: 0;
  padding-right: 1em;
}

.hotel-card__description, .hotel-card__city {
  color: gray;
}

.hotel-card__reviews {
  margin-right: 1em;
}

.hotel-card__raiting {
  color: rgba(11, 9, 9, 0.655);
}

.hotel-card__prices, .hotel-card__features {
  display: flex;
}

.hotel-card__price-final {
  font-size: 16px;
  margin-left: 1em;
}

.hotel-card__price-final, .hotel-card__price-del {
  margin-top: 0;
  font-weight: 800;
}

.hotel-card__feature-detail {
  border: solid gray;
  border-radius: 8px;
  color: gray;
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 10px;
  margin: 0 0.5em 1em 0;
}

@media (min-width:768px){
  .hotel-card__header, .hotel-card__bottom {
    display: flex;
  }

  .hotel-card__city {
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .hotel-card__features {
    margin-left: 1em;
  }
}
