.booking__container{
  width: 100%;
  height: 1600px;
}

.booking__header{
  background-image: url(../../assets/livingRoom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.booking__nav{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.booking__summery{
  -webkit-box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.);
  -moz-box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.);
  box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.5);
  line-height: 15px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 93%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media(min-width: 768px){
  .booking__container{
  height: 1000px;
  }

  .booking__summery{
    background-color: white;
    max-width: 450px;
    height: 630px;
    width: 70%;
  }
}
