.user-info {
  padding: 1em;
  font-size: 15px;
}

.user-info__title {
  display: flex;
  margin-bottom: 1em;
}

.user-info__title-button {
  margin-left: 2em;
  padding: 0 1em 0 1em;
  color: rgb(239, 63, 63);
  background-color: rgb(240,240,240);
  border: 0;
  font-weight: 700;
}
.user-info__info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-info__login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-info__info-requested, .user-info__login-info {
  width: 30%;
}

.user-info__info-user, .user-info__login-user {
  width: 60%;
  margin-left: 2em;
}

.user-info__info-requested-form, .user-info__login-info-requested {
  margin-bottom: 0.5em;
  grid-column-start: 1;
}

.user-info__info-user-data {
  margin-bottom: 0.75em;
  color: gray;
  grid-column-start: 2;
}

.user-info__login-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.user-info__login-user-data {
  margin-top: 0.8em;
  margin-bottom: 1em;
  color: gray;
}

.user-info__login-edit {
  display: flex;
  flex-direction: column;
}

.user-info__login-edit-button {
  margin: 0.55em 0 0 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  border: 0;
  color: rgb(239, 63, 63);
  background-color: white;
  font-weight: 700;
  grid-column-start: 3;
}

.user-info__login-edit-button:hover, .user-info__title-button:hover {
  background-color: rgb(239, 63, 63);
  color: white;
}

.user-info__edit-form{
  display: grid;
  row-gap: .5em;
}
.user-info__form-label{
  display: flex;
  flex-direction: column;
}

@media (min-width:768px){
  .user-info {
    width: 500px;
  }

  .user-info__info-requested, .user-info__login-info {
    width: 40%;
  }

  .user-info__info-user, .user-info__login-user {
    width: 60%;
  }

  .user-info__info-user-data, .user-info__login-user-data {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .user-info__login-edit-button {
    margin: 0 0 0 0.5em;
    padding: 0.4em 1em 0.5em 1em;
  }
}
