.news__list{
  align-items: flex-start;
  display: flex;
  color: gray;
  width: 100%;
  height: 100%;
}

.news__card__image{
  margin-right: -50px;
  width: 70%;
}

.news__card__img{
  height: 100%;
  width: 70%;
}

.news__card__title{
  justify-content: left;
  margin-bottom: -5px;
  color: white;
  display: flex;
  margin-top: 0;
}
.news__card__text{
  padding-left: -60px;
  padding-right: 10px;
  margin-right: 15px;
  text-align: left;
  overflow: hidden;
  font-size: 15px;
  height: 110px;
  width: 60%;
}

.news__card__paragraph{
  overflow: hidden;
  color: gray;

}

@media(min-width: 768px){

  .news__card__text{
    margin-right: -10px;
    margin-left: -20px;
    font-size: 17px;
    width: 100%;
  }

.news__card__img{
  width: 80%;
}

.news__card__image{
  margin-right: 10px;
  width: 80%;
}

}

@media(min-width: 1440px){
  .news__card{
    height: 200px;
  }
  .news__card__img{
    width: 100%;
  }

  .news__card__text{
    margin-left: 20px;
    font-size: 17px;
  }
}
