.summery__container{
  overflow: hidden;
  font-size: 13px;
  padding: 30px;
  width: 100%;
}

.summary__view{
  align-items: center;
  display: flex;
}

.summery__image{
  margin-right: 10px;
  width: 25%;
}

.summery__hr{
  background-color: rgb(252, 252, 252);
  margin: 12px 0px;
}

.summery__dates{
  grid-template-columns: auto auto;
  justify-content: space-between;
  display: grid;
}

.summery__dates-item{
  margin-bottom: 12px;
}

.summery__left{
  text-align: right;
}

.summery__edit{
  justify-content: space-between;
  display: flex;
}

.summeery__btn{
  color: #F13F4B;
  background: none;
  border: none;
}

.summery__details{
  justify-content: space-between;
  display: flex;
}

.summery__total{
  font-weight: 900;
}

@media(min-width: 768px){
  .summery__container{
    font-size: 15px;
  }
}
