.card-data__form{
  border: 1px solid gray;
  font-size: 15px;
  padding: 10px;
}

.card-data__input{
  outline: none;
  height: 35px;
  width: 100%;
}

.card-data__cards{
  border: 1px solid gray;
  align-items: center;
  margin-top: 5px;
  display: flex;
  height: 37px;
}

.card-data__no-borde{
  border: none;
  height: 26px;
}

.card-data__img{
  height: 18px;
  width: 20px;
  margin: 2px;
}

.card-data__cvv{
  width: 45px;
  height: 20px;
}

.card-data__btn-cont{
  justify-content: end;
  display: flex;
}

.card-data__btn{
  background-color: #F13F4B;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  color: white;
  height: 30px;
  border: none;
  width: 40%;
}

.card-data__btn:hover{
  background-color: #f70919;
  font-size: 11px;
}

@media(min-width: 768px){
  .card-data__date{
    align-items: center;
    display: flex;
    margin: 10px;
  }

  .card-data__flex{
    width: 85%;
  }

  .card-data__no-borde{
    border: none;
    height: 25px;
  }
}
