.roomsForm {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 1em;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.roomsForm__properties {
  margin: 0.5em 0 0 0;
}

.roosmForm__propertiesAmenities {
  display: flex;
  gap: 10px;
}

.roomsForm__button {
  margin-top: 1em;
  margin-left: 0.5em;
  color: white;
  background-color: red;
  border: 0;
  padding: 0.5em 1em 0.5em 1em;
  width: 100px;
  font-weight: bold;
}

.roomsForm__button:hover {
  background-color: rgb(255, 77, 77);
}

.roomsForm__buttonEnv {
  display: flex;
  justify-content: flex-end;
}

@media (min-width:768px){
  .roomsForm {
    width: 1000px;
  }
}
