.weather {
  text-align: left;
  padding: 1em;
  background-color: white;
}
.weather__header {
  margin-bottom: 1em;
  text-align: left;
  text-transform: uppercase;
}
.weather__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}
.weather__list-date {
  display: block;
  text-align: center;
}
.weather__list-element {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}
.weather__icon {
  margin: 0;
  padding: 0;
  width: 4em;
}
.weather__icon img {
  width: 100%;
}
