.card {
  width: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(240,240,240);
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

.card__figures {
  position: relative;
}

.card__imgPerfil {
  border-radius: 60em;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  margin-top: 2em;
}

.card__iconEdit {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translate(-90px);
}

.card__name, .card__phone {
  margin-bottom: 0;
  margin-top: 0;
}

.card__email, .card__phone {
  color: gray;
}

.card__email {
  margin-top: 0;
  margin-bottom: 2em;
}

.card__name {
  font-weight: 900;
}

.card__bar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-size: 18px;
}

.card__barOptions:hover {
  color: rgb(5, 160, 160);
  text-decoration: underline rgb(5, 160, 160);
}

@media (min-width:1440px){
  .card {
    width: 300px;
  }

  .card__bar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
  }

  .card__barOptions {
    margin: 1em 0 0.5em 1em;
  }

  .card__name {
    font-size: 25px;
  }

  .card__phone, .card__email {
    font-size: 20px;
  }
}
