.hotelsLocation {
  font-size: 15px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.hotelsLocation__description {
  margin: 0.5em 0 1em 0.5em;
}

@media(min-width: 768px){
  .hotelsLocation {
    flex-direction: row;
  }

  .hotelsLocation__div {
    margin-left: 10em;
  }
}
