@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700;1,800&display=swap');

section {
  background-color: rgb(230, 229, 229);
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.component__card {
  box-shadow: -2px 1px 63px -44px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -2px 1px 63px -44px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -2px 1px 63px -44px rgba(0, 0, 0, 0.6);
  background-color: rgb(103, 103, 103);
  justify-content: center;
  align-items: center;
  max-width: 300px;
  display: flex;
  height: 320px;
  margin: 15px;
  width: 95%;
}

.butons_card {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.hotel__grid{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 96%;
}
.butons_card button {
  box-shadow: -2px 1px 63px -7px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -2px 1px 63px -7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -2px 1px 63px -7px rgba(0, 0, 0, 0.6);
  background-color: #FFFFFF;
  letter-spacing: -2px;
  font-weight: 800;
  border: none;
  height: 30px;
  margin: 10px;
  width: 30px;
}

.butons_card button:hover {
  background-color: #F13F4B;
}

.butons_card button:focus {
  background-color: #F13F4B;
}

@media(min-width: 768px){
  section {
    justify-content: space-between;
    display: flex;
  }

  .hotel__grid {
    grid-template-columns: auto auto auto;
    margin-right: 22px;
    display: grid;
    margin: 22px;
  }

  .component__card{
    justify-content: center;
    height: 240px;
    width: 95%;
  }

  .butons_card button {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 1440px) {
  section {
    justify-content: center;
    display: flex;
  }

  .component__card{
    justify-content: center;
    min-width: 230px;
    height: 290px;
  }

  .hotel__grid {
    grid-template-columns: auto auto auto;
    margin-right: 22px;
    display: grid;
    margin: 22px;
  }
  
  .butons_card button {
    width: 40px;
    height: 40px;
  }
}
