.hotelsManagment__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/livingRoom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 2em;
  padding: 1em 0;
}

.hotelsManagment__filter {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hotelsManagment__list {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.hotelsManagment__title {
  text-align: center;
  margin-top: 1em;
}

