.hotel-filter{
  border-radius: 1em;
  background-color: white;
  padding: .5em;
}
.hotel-filter__form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hotel-filter__label{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: .5em 1em;
  color: rgb(196, 196, 196);
  text-align: center;
}
.hotel-filter__input{
  border: 0;
  text-align: center;
}
.hotel-filter__submit{
  background-color: red;
  padding: .5em 1em;
  color: white;
  border: 0;
  text-transform: uppercase;
  margin-top: .5em;
  margin-bottom: .5em;
}
.hotel-filter__divider{
  display: inline-block;
  width: 2px;
  height: 1.5em;
  background-color: rgb(196, 196, 196);
}
.hotel-filter__divider--half{
  display: none;
}

@media (min-width: 768px) {
  .hotel-filter__label{
    width: 18%;
  }
  .hotel-filter__divider--half{
    display: inline-block;
  }
}
