.home__container{
  background-color: #F9F9F9;
  flex-direction: column;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.home__nav{
  width: 100%;
}

.card__filter-home{
background-image: url("https://tse3.mm.bing.net/th?id=OIP.gGeEdbMNaWxhtyfWkcgYCQHaCs&pid=Api&P=0");
background-repeat: no-repeat;
background-size: cover;
padding: 30px;
width: 100%;
}

.title__nav-home{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 3em;
  color: white;
  font-size: 17px;
}

.card__mobile{
  text-align: center;
  display: flex;
}

.popular-destination__title{
  margin-bottom: 10px;
  text-align: center;
  margin-top: 40px;
  font-weight: 800;
  font-size: 20px;
  color: black;
}

.explainer__component{
  padding: 10px;
  width: 100%;
  margin-top: 35px;
}

.newsletter-form__component{
  margin-top: 15px;
  padding: 10px;
}

.read-article__descktop{
  display: none;
}
.card__descktopHome{
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  height: 100%;
  max-width: 100%;
}

.home-page__link{
  width: 100%;
}

.home-page__link{
  color: black;
  text-decoration: none;
}
@media(min-width: 768px){
  .popular-destination__title{
    margin-top: 10px;
  }

  .offer-view__component{
    width: 100%;
  }

  .read-article__descktop{
    display: block;
  }

  .read-article__component{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
  }
}
