.success-component {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 330px;
}

.success-component__button {
  padding: 1em 2em 1em 2em;
  color: white;
  background-color: #F13F4B;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  font-weight: bold;
}

.success-component__img {
  width: 100%;
}

.success-component__title {
  font-weight: 800;
  margin-top: 0;
  font-size: 18px;
}

.success-component__text {
  color: gray;
  font-size: 15px;
}

@media(min-width:768px){
  .success-component {
    width: 700px;
    text-align: center;
  }

  .success-component__img {
    width: 40%;
  }

  .success-component__title {
    font-size: 22px;
  }

  .success-component__text {
    width: 90%;
    margin-left: 1em;
  }
}
