.roomsReg__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/livingRoom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 2em;
  padding: 1em 0;
}
.roomsReg__hotel{
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.roomsReg__hotel-figure{
  width: 100%;
}
.roomsReg__hotel-image{
  width: 100%;
}

.roomsReg__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.roomsReg__title {
  text-align: center;
  margin-top: 1em;
}

.roomsReg__list {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .roomsReg__form {
    padding: 0 7em;
  }
  .roomsReg__hotel{
    flex-direction: row;
  }
  .roomsReg__hotel-figure{
    height: 10em;
    width: auto;
  }
  .roomsReg__hotel-image{
    height: 10em;
    width: auto;
  }
}
