.hotel-info__header{
  display: flex;
  align-items: center;
  gap: .5em;
}
.hotel-info__rating{
  display: none;
}
.hotel-info__header-button{
  background-color: white;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: .6em;
  border: none;
  text-align: center;

}
.hotel-info__address{
  color: rgb(133, 133, 133);
}
.hotel-info__features{
  display: none;
}

@media (min-width: 768px) {
  .hotel-info__rating{
    color: rgb(255, 217, 0);
    font-size: .6em;
    display: block;
  }
  .hotel-info__features{
    display: flex;
    gap: .5em;
    list-style: none;
    font-size: .8em;
    display: flex;
  }
  .hotel-info__feature-item{
    border: solid 1px rgb(194, 194, 194);
    padding: .2em .4em;
    border-radius: .5em;
  }

}
