.profile-menu {
  width: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(240,240,240);
  font-size: 15px;
}

.profile-menu__figures {
  position: relative;
}

.profile-menu__pic {
  border-radius: 60em;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  margin-top: 2em;
}

.profile-menu__edit-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translate(-8em);
  background-color: white;
  padding: .5em;
  border-radius: 50%;
}

.profile-menu__name, .profile-menu__phone {
  margin-bottom: 0;
  margin-top: 0;
}

.profile-menu__email, .profile-menu__phone {
  color: gray;
}

.profile-menu__email {
  margin-top: 0;
  margin-bottom: 2em;
}

.profile-menu__name {
  font-weight: 900;
}

.card__bar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-size: 18px;
}

.card__barOptions:hover {
  color: rgb(5, 160, 160);
  text-decoration: underline rgb(5, 160, 160);
}

@media (min-width:768px){
  .profile-menu {
    width: 300px;
  }

  .card__bar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
  }

  .card__barOptions {
    margin: 1em 0 0.5em 1em;
  }

  .profile-menu__name {
    font-size: 25px;
  }

  .profile-menu__phone, .profile-menu__email {
    font-size: 20px;
  }
}
