* {
  text-align: left;
}

.room-card__info {
  display: flex;
  flex-wrap: wrap;
}
.room-card__img {
  width: 100%;
}
.room-card__pic {
  width: 100%;
}
.room-card__pic img {
  width: 100%;
}
.room-card__amenities {
  margin-right: 2em;
}
.room-card__info-list {
  list-style: none;
}
.room-card__old-price {
  text-decoration: line-through;
  color: rgb(180, 180, 180);
}
.room-card__current-price {
  font-weight: bold;
  font-size: 1.5em;
}
.room-card__book-button {
  background-color: rgb(239, 63, 63);
  border: 0;
  padding: 1em 3em;
  color: white;
  margin-top: 0.5em;
  font-size: 1.3;
}
.room-card__price-divider {
  border-top: 1px solid rgb(247, 247, 247);
  margin: 1em 0;
}
.room-card__list-item {
  display: flex;
  justify-content: left;
  align-items: center;
}
.room-card__list-icon--bed {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/bed.png");
}
.room-card__list-icon--pool {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/pool.png");
}
.room-card__list-icon--shower {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/shower.png");
}
.room-card__list-icon--tv {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/tv.png");
}
.room-card__list-icon--couch {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/couch.png");
}
.room-card__list-icon--check {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
  background-image: url("../../assets/checkBlue.png");
}

@media (min-width: 768px) {
  .room-card__img {
    width: 30%;
    margin-right: 1em;
  }
  .room-card__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    margin: auto;
  }
  .room-card__price-divider {
    display: none;
  }
}
