.hotel__success{
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0;
}

.success__navbar{
  width: 100%;
}

.success__successfp{
  justify-content: center;
  display: flex;
  width: 100%;
}

.success__footer{
  width: 100%;
}
