.booking-form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: white;
}

.booking-form__mapouter{
  position:relative;
  text-align:right;
  width:100%;
}

.booking-form__gmap_canvas {
  overflow:hidden;
  background:none!important;
  width: 100%;
}

.booking-form__divider {
  width: 100%;
  border-width: 0.5px;
  color: gray;
  margin: 1em 0 1em 0;
}

.booking-form__form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.booking-form__form-button {
  color: white;
  background-color: red;
  border: 0;
  padding: 0.5em 2em 0.5em 2em;
  font-weight: bold;
  margin-top: 1em;
}

.booking-form__form-button--left {
  display: flex;
  justify-content:flex-end;
}

.booking-form__form-date {
  display: flex;
  justify-content: space-between;
}

.booking-form__form-date, .booking-form__form-rooms, .booking-form__form-number {
  margin-bottom: 0.5em;
}

.booking-form__form-calendar {
  width: 60%;
}

.booking-form__text-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 2em;
}

.booking-form__text-top-features--prices {
  text-align: right;
}

.booking-form__features-body {
  display: flex;
}

.booking-form__features-title, .booking-form__features-text {
  margin: 0;
}

.booking-form__features-title {
  margin-bottom: 1em;
}

.booking-form__features-text {
  margin-left: 0.5em;
}

.booking-form__features-text--size {
  font-size: 15px;
  font-weight: 900;
}




