.booking-form {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 2em;
  background-color: white;
}

.booking-form__cont-btn{
  display: flex;
  justify-content: flex-end;
}

.booking-form__form-button{
  background-color: #F13F4B;
  margin-bottom: 22px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  width: 160px;
  height: 40px;
  border: none;
}

.booking-form__form-button:hover{
  background-color: #f70919;
}
.booking-form__text-top{
  display: flex;
  justify-content: space-between;
}

.booking-form__features-body{
  display: flex;
}

.booking-for__mapouter{
  position:relative;
  text-align:right;
  width:100%;
}

.booking-form__form-date{
  margin-top: 12px;
}

.booking-form__features-price{
  color: gray;
}
.booking-form__features-icon{
  color: green;
}

.booking-for__gmap_canvas {
  overflow:hidden;
  background:none!important;
  width: 100%;
}

.booking-form__input{
  width: 100%;
  height: 35px;
  margin-top: 12px;
}
