.booking-form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: white;
}

.booking-form__text-top{
  margin-bottom: 10px;
}

.booking-form__form-calendar{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.booking-form__features-highlight{
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 15px;
}

.booking__through{
  text-decoration: line-through;
}

.booking-form__item{
  color: gray;
}

.booking-form__input{
  height: 40px;
  color: gray;

}
.booking-form__input:focus {
  outline: none;
}

.booking-form__header{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px;
}

.booking-form__form{
  margin-top: 10px;
}

.booking-form__text_icon{
  display: flex;
  justify-content: space-between;
}

.booking-form__icon{
  color: green;
}

.booking-for__mapouter{
  position:relative;
  text-align:right;
  width:100%;
}

.booking-for__gmap_canvas {
  overflow:hidden;
  background:none!important;
  width: 100%;
}

.booking-form__cont-btn{
  display: flex;
  justify-content: flex-end;
}

.booking-form__form-button{
  background-color: #F13F4B;
  margin-bottom: 22px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  width: 160px;
  height: 40px;
  border: none;
}

.booking-form__form-button:hover{
  background-color: #f70919;
}

.booking-form__link{
  color: white;
  text-decoration: none;
}

