.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 300px;
  background-color: white;
}

.card__mapouter{
  position:relative;
  text-align:right;
  height:200px;
  width:300px;
}

.card__gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:200px;
  width:300px;
}

.card__line {
  width: 100%;
  border-width: 0.5px;
  color: gray;
  margin: 1em 0 1em 0;
}

.card__form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.form__button {
  color: white;
  background-color: red;
  border: 0;
  padding: 0.5em 2em 0.5em 2em;
  font-weight: bold;
  margin-top: 1em;
}

.form__button--left {
  display: flex;
  justify-content:flex-end;
}

.form__date {
  display: flex;
  justify-content: space-between;
}

.form__date, .form__rooms, .form__num {
  margin-bottom: 0.5em;
}

.form__calendar {
  width: 60%;
}

.card__textTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 2em;
}

.textTop__features--prices {
  text-align: right;
}

.features__body {
  display: flex;
}

.features__title, .features__text {
  margin: 0;
}

.features__title {
  margin-bottom: 1em;
}

.features__text {
  margin-left: 0.5em;
}

.features_text--size {
  font-size: 15px;
  font-weight: 900;
}




