.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2em;
  background-color: rgb(240,240,240);;
  font-size: 11px;
  border-radius: 15px;
  width: 290px;
}

.card:hover {
  border: 2px solid rgb(19, 128, 128);
}

.card__option {
  display: flex;
  flex-direction: row;
}

.card__img {
  margin: 0 10em 0 1em;
}

.card__optionCompany {
  text-align: end;
  color: gray;
}

.card__optionNumber {
  margin-top: 0.5em;
}

@media (min-width:768px) {
  .card {
    width: 390px;
    font-size: 15px;
  }
}
