footer {
  background-color: #000000;
  padding-top: 20px;
  font-weight: 700;
  text-align: left;
  height: 100%;
}

.footer__card {
  line-height: 30px;
  max-width: 4500px;
  font-size: 15px;
  padding: 10px;
  color: gray;
}

.footer__logo {
  border-radius: 15px;
  align-items: center;
  display: flex;
  margin-top: -17px;
}

.footer--card--5{
  flex-direction: column;
  display: flex;
  height: 300px;
  width: 100%;
}

.footer__card-title {
  color: #FFFFFF;
  margin-top: -15px;
  margin-bottom: 10px;
}

.footer__card--paragraph {
  padding-bottom: 20px;
  line-height: 20px;
}

.footer__card--link {
  display: flex;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.footer__text--logo {
  margin-left: 12px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 26px;
}

ion-icon {
  vertical-align: middle;
  margin-bottom: 7px;
  margin-right: 8px;
  font-weight: 800;
  font-size: 18px;
  color: gray;
}

.footer__link {
  text-decoration: none;
  line-height: 25px;
  color: gray;
  display: flex;
}

.footer__social-text-link{
  display: inline;
}

.footer__card--container-map {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 250px;
  max-width: 450px;
  margin: 0 auto;
}

.footer__card--container-map iframe {
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer__card--news-cont {
  justify-content: center;
  padding-bottom: -100px;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}

.footer__social-media {
  background-color: #1f1c1c;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  position: relative;
  display: grid;
  height: 75px;
}

.footer__social-icon {
  padding-top: 12px;
  text-align: center;
}

.footer__social-icon ion-icon {
  color: gray;
}

.footer__social-text {
  color: gray;
  font-size: 15px;
}

.footer__social-text ion-icon {
  border-radius: 15px;
  color: #F13F4B;
  font-weight: 800;
  margin-top: 5px;
}

.footer__box-red {
  background-color: #F13F4B;
  transform: rotate(-12deg);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  font-weight: 800;
  color: #FFFFFF;
  height: 19px;
  width: 19px;
  right: 5%;
  top: 30%;
}

.footer__card--news{
  background-color: black;
  align-items: flex-start;
  margin-bottom: 3px;
  color: gray;
  display: flex;
  width: 100%;
}

.footer__card--img{
  border-radius: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 45px;
  width: 47px;
}

@media (min-width: 768px) {
  footer {
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1px;
    display: flex;
  }

  .footer__card {
    font-size: 13px;
  }

  .footer__card--link {
    font-size: 13px;
    align-items: center;
    line-height: 1px;
    margin-bottom: -13px;
  }

  ion-icon {
    font-size: 13px;
  }

  .footer__card--paragraph {
    padding-bottom: 1px;
  }

  .footer__card--1 {
    padding-top: 40px;
    flex-basis: 26%;
    order: 1;
  }

  .footer__card--2 {
    flex-basis: 14%;
    order: 4;
  }

  .footer__card--3 {
    flex-basis: 12%;
    order: 2;
  }

  .footer__card--4 {
    flex-basis: 20%;
    order: 3;
  }

  .footer__card--4 iframe {
    margin-top: 20px;
    max-width: 400px;
    height: 120px;
  }

  .footer__card--5 {
    flex-basis: 26%;
    order: 5;
  }

  .footer__card--6 {
    flex-basis: 100%;
    order: 6;
  }

  .footer__card-title--desktop {
    display: none;
  }

  .footer__card-title {
    padding-top: 35px;
  }

  .footer__social-media {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 50px;
  }

  .footer__social-text {
    margin-top: 18px;
  }

  .footer__social-text ion-icon {
    margin-bottom: 4px;
    font-size: 19px;
  }

  .footer__box-red {
    color: white;
    font-size: 15px;
    left: 88%;
    top: 30%;
  }

  .footer__card--container-map {
    height: 195px;
  }

  .footer__card--news{
    max-height: 130px;
  }
}
