.page {
  width: 100%;
  position: relative;
}

.page__body {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.page__hotelsList {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .page__footer{
    padding: 0 7rem;
  }

}
