.page {
  width: 100%;
  position: relative;
}

.page__body {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 0.8em;
}

.page__hotelsList {
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
