.top-offer__card {
  margin: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
}

.offer__img {
  border-radius: 20px;
  width: 96%;
  object-fit: cover;
  padding: 12px;
}

.offer__title {
  margin-bottom: 0;
  font-weight: 800;

}

.offer__text {
  margin-top: 0;
  color: gray;
}
