.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.card__img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.card__title {
  margin-bottom: 0;
  font-weight: 800;

}

.card__text {
  margin-top: 0;
  color: gray;
}

@media (min-width:768px){
  .card {
    width: 240px;
  }

  .card__img {
    height: 200px;
  }
}
