*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 350px;
  padding: 1em;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

.card__title {
  display: flex;
  margin-bottom: 1em;
}

.card__titleButton {
  margin-left: 2em;
  padding: 0 1em 0 1em;
  color: rgb(5, 160, 160);
  background-color: rgb(240,240,240);
  border: 0;
  font-weight: 700;
}

.card__info, .card__login {
  display: flex;
  flex-direction: row;
}

.card__infoRequested, .card__loginInfo {
  width: 30%;
}

.card__infoUser, .card__loginUser {
  width: 70%;
  margin-left: 2em;
}

.card__infoRequestedForm, .card__loginInfoRequested {
  margin-bottom: 0.5em;
}

.card__infoUserData {
  margin-bottom: 0.75em;
  color: gray;
}

.card__loginTitle {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.card__loginUserData {
  margin-top: 0.8em;
  margin-bottom: 1em;
  color: gray;
}

.card__loginEdit {
  display: flex;
  flex-direction: column;
}

.card__loginEditButton {
  margin: 0.55em 0 0 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  border: 0;
  color: rgb(5, 160, 160);
  background-color: white;
  font-weight: 700;
}

.card__loginEditButton:hover, .card__titleButton:hover {
  background-color: rgb(5, 160, 160);
  color: white;
}

@media (min-width:1440px){
  .card {
    width: 500px;
  }

  .card__infoRequested, .card__loginInfo {
    width: 40%;
  }

  .card__infoUser, .card__loginUser {
    width: 60%;
  }

  .card__infoUserData, .card__loginUserData {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .card__loginEditButton {
    margin: 0 0 0 0.5em;
    padding: 0.4em 1em 0.5em 1em;
  }
}
