.register-form {
  padding: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.register-form__header {
  text-transform: uppercase;
}
.register-form__section {
  margin-top: 1em;
}
.register-form__social-media-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.register-form__list-item {
  width: 47%;
}
.register-form__social-media-button {
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px 0px rgb(206, 212, 218);
  color: #1471fd;
  padding: 1em;
  width: 100%;
}
.register-form__facebook::before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/facebook-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: 1em;
  padding: 0 5px 0 0;
  vertical-align: -10%;
}
.register-form__google::before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/google-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: 1em;
  padding: 0 5px 0 0;
  vertical-align: -10%;
}
.register-form__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.register-form__input {
  border: solid 1px rgb(206, 212, 218);
  padding: 0.5em 1em;
}
.register-form__create-button {
  background-color: rgb(239, 63, 63);
  border: 0;
  color: white;
  padding: 0.5em;
  text-transform: uppercase;
  width: 100%;
}
.register-form__login-button {
  background: rgba(0, 0, 0, 0);
  border: solid 1px rgb(239, 63, 63);
  color: rgb(239, 63, 63);
  padding: 0.5em;
  text-transform: uppercase;
  width: 100%;
}
.register-form__divider {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form__divider p {
  display: inline-block;
  background-color: white;
  padding: 0.3em 1em;
}
.register-form__divider-line {
  background-color: rgb(206, 212, 218);
  display: inline-block;
  height: 1px;
  width: 12em;
}
