.navigation__card {
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 15px;
  display: flex;
  height: 55px;
}

.navigation__logo {
  align-items: center;
  display: flex;
}

.navigation__icons-cont {
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  display: flex;
  height: 55px;
}

.navigation__logo-img {
  border-radius: 13px;
  height: 35px;
  width: 35px;
}

.nav__text-logo {
  margin-left: 10px;
  font-weight: 800;
  color: black;
}

.navigation__menu {
  display: none;
}

.navigation__selects {
  display: none;
}

.navigation__icon {
  background-color: #1b1b1b0c;
  padding: 2px 2px 2px 2px;
  height: 25px;
  margin: 5px;
  width: 25px;
}

.navigation__icon ion-icon {
  font-weight: 800;
  margin-left: 2px;
  font-size: 18px;
  margin: 0 auto;
  color: black;
}

@media (min-width: 768px) {
  .navigation__menu {
    display: flex;
  }

  .navigation__icon {
    display: none;
  }

  .navigation__menu-li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 10px;
  }

  .navigation__text {
    text-decoration: none;
    list-style: none;
    color: black;
  }

  .navigation__menu:hover {
    color: #1b1b1b5a;
  }

  .navigation__selects {
    justify-content: space-around;
    display: flex;
  }

  .navigation__sel-option {
    background-color: #1b1b1b0c;
    outline: none;
    border: none;
    height: 21px;
  }

  ion-icon {
    background-color: #1b1b1b40;
    margin-top: 10px;
    font-size: 25px;
    height: 21px;
  }

  ion-icon:hover {
    width: 25px;
  }

  .navigation__options {
    background-color: #1b1b1b38;
    margin: 10px;
    height: 24px;
  }

  .navigation__text-icon ion-icon {
    color: black;
    font-size: 1px;
    height: 24px;
    padding: 1px;
    width: 20px;
  }
}
