.filter {
  background-color: #FFFFFF;
  font-weight: 800;
  padding: 30px;
  height: 70px;
}

.filter__select ion-icon {
  vertical-align: middle;
  margin-left: 8px;
}

.filter__icon {
  grid-template-columns: auto auto;
  justify-content: space-around;
  display: grid;
}

.filter__divider {
  background-color: #1B1B1B;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 1px;
}

.icon__filter ion-icon {
  font-weight: bold;
  margin-left: 6px;
  font-size: 25px;
  font-weight: 800;
}

.filter__icon-text {
  margin-right: 10px;
}

.filter-categories{
  display: none;
}

@media (min-width: 768px) {
  .filter-categories {
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    display: grid;
  }

  .filter__select {
    display: none;
  }

  .filter__icon {
    display: none;
  }

  .filter__divider {
    display: none;
  }

  .filter-categories__btn {
    padding: 5px 15px;
    height: 30px;
    margin: 10px;
    border: none;
  }

  .filter-categories__btn:hover {
    color: #F13F4B;
  }

  .filter-categories__btn:focus {
    background-color: #F13F4B;
    color: #FFFFFF;
  }

  .select__filter_desktop ion-icon {
    vertical-align: middle;
    margin-right: 7px;
    font-size: 25px;
  }

  .select__filter_desktop span {
    color: #F13F4B;
    font-size: 16px;
    font-weight: 1000;
    margin-left: 10px;
  }
}
