footer {
  padding-top: 20px;
  font-family: 'Nunito', sans-serif;
  background-color: #000000;
  font-weight: 700;
  text-align: left;
}

.card__footer {
  line-height: 30px;
  max-width: 4500px;
  font-size: 15px;
  padding: 10px;
  color: gray;
}

.card__footer--5{
  flex-direction: column;
  display: flex;
  height: 300px;
  width: 100%;
}

.card__footer--1 .card__link {
  line-height: 1px;
}

.title__footer {
  color: #FFFFFF;
  margin-top: -15px;
}

.card__paragraph {
  padding-bottom: 20px;
  line-height: 20px;
}

.card__logo {
  border-radius: 15px;
  align-items: center;
  display: flex;
}

.card__link {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.text__logo {
  color: #FFFFFF;
  margin-left: 12px;
  font-weight: 800;
  font-size: 26px;
}

.card__logo img {
  border-radius: 15px;
  height: 45px;
  opacity: 0.4;
  width: 47px;
}

ion-icon {
  vertical-align: middle;
  margin-bottom: 7px;
  margin-right: 8px;
  font-weight: 800;
  font-size: 18px;
  color: gray;
}

.card__footer a {
  text-decoration: none;
  line-height: 25px;
  color: gray;
  display: flex;
}

.card__footer p a {
  display: inline;
}

.card__footer .card__map {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 250px;
  max-width: 450px;
  margin: 0 auto;
}

.card__map iframe {
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card__new {
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  height: 100px;
  width: 100%;
}

.social__media {
  background-color: #1f1c1c;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
  display: grid;
  height: 70px;
}

.social__icon {
  padding-top: 12px;
  text-align: center;
}

.social__icon ion-icon {
  color: gray;
}

.social__text {
  color: gray;
  font-size: 15px;
}

.social__text ion-icon {
  border-radius: 15px;
  color: #F13F4B;
  font-weight: 800;
  margin-top: 5px;
}

.box__red {
  background-color: #F13F4B;
  transform: rotate(-12deg);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  font-weight: 800;
  color: #FFFFFF;
  height: 19px;
  width: 19px;
  right: 5%;
  top: 30%;
}

.card__news{
  background-color: black;
  align-items: flex-start;
  margin-bottom: 3px;
  color: gray;
  display: flex;
  width: 100%;
}

.card__image{
  width: 40%;
}

.card__img{
  width: 100%;
  height: 100%;
}

.card__title{
  justify-content: left;
  margin-bottom: -5px;
  color: white;
  margin-top: 0;
  display: flex;
}

.card__body{
  display: flex;
}

.card__text{
  margin-right: 15px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 15px;
  width: 60%;
}

@media (min-width: 768px) {
  footer {
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1px;
    display: flex;
  }

  .card__footer {
    font-size: 13px;
  }

  .card__link {
    font-size: 13px;
  }

  ion-icon {
    font-size: 13px;
  }

  .card__paragraph {
    padding-bottom: 1px;
  }

  .card__footer--1 {
    padding-top: 40px;
    flex-basis: 26%;
    order: 1;
  }

  .card__footer--2 {
    flex-basis: 14%;
    order: 4;
  }

  .card__footer--3 {
    flex-basis: 12%;
    order: 2;
  }

  .card__footer--4 {
    flex-basis: 20%;
    order: 3;
  }

  .card__footer--4 iframe {
    margin-top: 20px;
    max-width: 400px;
    height: 120px;
  }

  .card__footer--5 {
    flex-basis: 26%;
    order: 5;
  }

  .card__footer--6 {
    flex-basis: 100%;
    order: 6;
  }

  .title__desktop {
    display: none;
  }

  .title__footer {
    padding-top: 35px;
  }

  .social__media {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 50px;
  }

  .social__text {
    margin-top: 18px;
  }

  .social__text ion-icon {
    margin-bottom: 4px;
    font-size: 19px;
  }

  .box__red {
    color: white;
    font-size: 15px;
    left: 88%;
    top: 30%;
  }

  .card__map {
    height: 195px;
  }

  .card__text{
    margin-top: 5px;
    padding-right: 5;
    font-size: 0.7em;
    line-height: 14px;
  }

  .card__news{
    max-height: 130px;
  }

  .card__news img{
    max-height: 130px;
  }

  .card__title{
    margin-bottom: 3px;
  }

  @media (min-width: 1000px) {
    .card__text{
      font-size: 0.9em;
      line-height: 16px;
    }
  }
}
