.readings{
  -webkit-box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.);
  -moz-box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.);
  box-shadow: -1px 2px 30px -7px rgba(0,0,0,0.5);
  font-family: 'Nunito', sans-serif;
  background-color:  #F9F9F9;
  flex-direction: column;
  border-radius: 5px;
  max-width: 450px;
  text-align: left;
  padding: -20px;
  margin: 0 auto;
  display: flex;
  width: 95%;
}

.readings__left{
  height: 60%;
}

.readings__right{
  padding: 13px;
  height: 40%;
}

.readings__img{
  height: 100%;
  width: 100%;
}

.readings__image{
  position: relative;
}

.readings__date{
  background-color: #F13F4B;
  position: absolute;
  align-items: center;
  text-align: center;
  line-height: 13px;
  font-weight: 700;
  font-size: 1.1em;
  color: white;
  height: 1.7em;
  width: 1.7em;
  left: 12px;
  top: 12px;
}

.readings__number{
  padding-top: 2px;
  font-size: 10px;
}

.readings__month{
  margin-bottom: -10px;
  font-size: 12px;
}

.readings__title{
  margin-bottom: 8px;
  color: #fd4450;
  font-weight: 700;
  font-size: 12px;
}

.readings__paragraph{
  font-weight: 800;
  color: black;
}

.readings__headline{
  font-weight: 700;
  color: gray;
}

.readings__button{
  background-color: #F13F4B;
  margin-bottom: 22px;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 17px;
  color: white;
  width: 140px;
  height: 40px;
  border: none;
}

.readings__button:hover{
  background-color: white;
  color: #F13F4B;
}

@media(min-width: 768px){
  .readings{
    flex-direction: row;
    font-size: 0.7em;
    margin-left: 40px;
    margin-right: 40px;
  }

  .readings__title{
    margin-bottom: -11px;
  }

  .readings__left{
    height: 100%;
    width: 45%;
  }

  .readings__right{
    margin-bottom: -33px;
    width: 55%;
  }

  .readings__title-h3{
    margin-bottom: 17px;
    margin-top: 0.3em;
    font-size: 0.9em;
  }

  .readings__img{
    height: 100%;
  }

  .readings__headline{
    margin-top: 3px;
  }

  .readings__paragraph{
    line-height: 1.5em;
    padding-top: -30px;
  }

  .readings__button{
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 85%;
    width: 105px;
    height: 25px;
  }

  .readings__date{
    height: 2.5em;
    width: 2.5em;
  }

  .readings__number{
    margin-top: 1px;
  }

  .readings__month{
    margin-top: -1px;
  }
}
