.hotelsForm {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 1em;
  font-size: 15px;
}

.hotelsForm__properties {
  margin: 0.5em 0 0 0;
}

.hotelsForm__facilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hotelsForm__facilitiesDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hotelsForm__facilitiesValues {
  margin-left: -1.5em;
  margin-top: 0.5em;
}

.hotelsForm__button {
  margin-top: 1em;
  margin-left: 0.5em;
  color: white;
  background-color: red;
  border: 0;
  padding: 0.5em 1em 0.5em 1em;
  width: 100px;
  font-weight: bold;
}

.hotelsForm__button:hover {
  background-color: rgb(255, 77, 77);
}

.hotelsForm__buttonEnv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width:768px){
  .hotelsForm {
    width: 1000px;
  }
}

