.booking-history {
  width: 350px;
  font-size: 15px;
  padding: 1em;
}

.booking-history__bookings {
  display: flex;
  padding: 1em;
  margin-top: 1em;
  background-color: rgb(240,240,240);;
  font-size: 11px;
  border: 3px solid rgb(19, 128, 128);
  border-radius: 15px;

}

.booking-history__img {
  width: 35%;
  height: 35%;
}

.booking-history__description {
  margin-left: 2em;
}

.booking-history__description--gray {
  color: gray;
  margin-top: 0.5em;
}

@media(min-width:768px){
  .booking-history {
    width: 500px;
  }

  .booking-history__img {
    width: 30%;
    height: 30%;
  }

  .booking-history__bookings {
    font-size: 15px;
  }
}
